<div class="container" ng-app="myApp">
    <h1>
        The Application Submission System
    </h1>

    <div class="row">
        <div class="col-md-2">
            <a href="#/ind" class="btn btn-link">Individual</a>
            <a href="#/comp" class="btn btn-link">Company</a>
        </div>
        <div class="col-md-10">
            <div ng-view></div>
        </div>
    </div>
</div>
