<div class="container" ng-app="myApp">
    <h1>
        Bootstrap project for AngularJS 1.5
    </h1>

    <div ng-controller="individualController">
        <h2>Value from controller: {{ title }}</h2>

        <p>Counter: {{ counter }}</p>

        <button class="btn btn-success glyphicon glyphicon-arrow-up"   ng-click="up()"></button>
        <button class="btn btn-danger  glyphicon glyphicon-arrow-down" ng-click="down()"></button>

        <div ng-show="isHigh()" class="alert alert-info" role="alert">Hey the counter is high</div>

    </div>

</div>
